################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CompiledQuery/.vs/CompiledQuery
/CompiledQuery/bin/Debug/net8.0
/CompiledQuery/obj
/Tests/bin/Debug/net8.0
/Tests/obj
